<body>
  <table mat-table [dataSource]="dataSource$" class="mat-elevation-z8" *ngIf="buttonClicked$">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->

    <!-- Name Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by address"> Адрес назначения
        <button class="btn" (click)="getItem('address')">Sort</button>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="gateway">
      <th mat-header-cell *matHeaderCellDef> Шлюз
        <button class="btn" (click)="getItem('gateway')">Sort</button>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.gateway}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="interface">
      <th mat-header-cell *matHeaderCellDef> Интерфейс
        <button (click)="getItem('interface')">Sort</button></th>
      <td mat-cell *matCellDef="let element"> {{element.interface}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</body>
